################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.ilk
*.exe
*.pdb
*.tlog
*.recipe
*.obj
*.idb
*.log
*.vcxproj
*.filters
*.user
*.sln
*.suo
*.db-shm
*.json
*.sqlite
*.db-wal
*.opendb
